.graph{
    padding-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.row {
    margin-left: 0 !important;
}

.pick {
    width: 44px;
    height: 44px;
    font-size: 22px;
}

.m {
    margin: 10px;
}

.m-l{
    margin-left: 5px;
  }

.m-l-r{
    margin-left: 10px;
    margin-right:10px;
}
.static{
    color: black;    
}
.static:hover{
    text-decoration: none;
}

.m-r-4 {
    margin-right: 4px;
}

.red-font {
    color: red
}

.m-t {
    margin-top: 10px;
}

.no-p {
    padding: 0;
}
