<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>{{players.title}}</h3>
                    <p>
                        Игроки
                        <span class="badge badge-primary">Нолики {{ players.player0?players.player0.name:'' }}</span>
                        VS
                        <span class="badge badge-danger">Крестики {{ players.player1?players.player1.name:''}}</span>
                    </p>
                </div>
                <div class="card-body">
                    <h4>{{!step.id_player?'':!this.status?auth_id == step.id_player?'Ходит соперник':'Ваш ход!':this.status}}</h4>
                    <div v-for="(str, index) in arr" :key="str.id">
                        <div class="row no-m">
                            <div v-for="(v,ind) in str" :key="v.id">
                                <button @click="doStep(index*3+ind)" class="pick m-r-4">{{v=='*'?' ':v}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: ["auth_id"],
    data() {
        return {
            gameId: 0,
            players: [],
            step: [],
            arr: [],
            status: ''
        };
    },
    methods: {
        updateStatus(v) {
            this.step = v.step;
            this.arr = [];
            if (v.step.status) {
                this.arr.push(v.step.status.substring(0, 3));
                this.arr.push(v.step.status.substring(3, 6));
                this.arr.push(v.step.status.substring(6, 9));
            }
            if (this.status == ''){
                if (v.status > 0) {
                    v.status == 1 ? this.status = 'Победил игрок ' + this.players.player0.name :
                    v.status == 2 ? this.status = 'Победил игрок ' + this.players.player1.name :
                    this.status = 'Ничья!'
                }
                if (v.status == -33) {
                    this.status = 'Только просмотр, Вы болельщик'
                }
            }
        },
        doStep(id) {
            if(this.status){
                alert(this.status)
                return;
            }
            if (this.auth_id == this.step.id_player) {
                alert("Следует дождаться хода соперника");
                return;
            }
            if (this.step.status[id] == "*") {
                axios
                    .post(`/game/makeStep/${this.gameId}`, {
                        offset: id,
                        gameId: this.gameId
                    })
                    .then(res => {
                        this.updateStatus(res.data)
                    })
            } else {
                alert("Сюда ход был сделан ранее")
            }
        }
    },
    mounted() {
        const arr = window.location.pathname.split("/");
        this.gameId = arr[arr.length - 1];
        Echo.private(`gamesession.${this.gameId}`).listen("NewStep", e => {
            this.updateStatus(e);
        });
        axios.get(`/game/players/${this.gameId}`).then(res => {
            this.players = res.data[0];
        });
        axios.get(`/game/lastStep/${this.gameId}`).then(res => {
            console.log(res.data)
            this.updateStatus(res.data)
        })
    }
}
</script>
