<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>Живая лента игр</h4>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <div v-for="game in games" :key="game.id">
                            <div class="list-group-item m">
                                <h4>{{ game.title }}</h4>
                                <div v-if="(auth_id == game.id_user0) && (!game.id_user1)">
                                    Вы ожидаете соперника
                                </div>
                                <div v-else-if="!game.id_user0">
                                    ждем игроков
                                    <div @click="acceptPlayer(0, game.id)" class='col-4 btn btn-success btn-sm'>
                                        Вступить
                                    </div>
                                </div>
                                <div v-else-if="game.id_user0 && !game.id_user1">
                                    <span class='badge badge-primary'>
                                        {{ game.player0.name }}
                                    </span> ожидание соперников
                                    <p>
                                        <div @click="acceptPlayer(1, game.id)" class='col-4 btn btn-success btn-sm'>
                                            Присоединиться
                                        </div>
                                    </p>
                                    <!-- <a  v-bind:href="'/accept1get/' + game.id"  class='col-4 btn btn-success btn-sm'> Вступить </a> -->
                                </div>
                                <div v-if="game.id_user1">
                                    <p>
                                        <span class='badge badge-primary'>{{ game.player0.name }}</span>
                                        VS
                                        <span class='badge badge-danger'>{{ game.player1.name }}</span> 
                                        <a title="Просмотр сеанса" v-bind:href="'/game/' + game.id" class='static m-l fa fa-eye'></a>
                                    </p>
                                    <div v-if="((game.id_user1 ==  auth_id) || (game.id_user0 ==  auth_id)) && !(game.winner>0)">
                                        <a v-bind:href="'/game/' + game.id" class='col-4 btn btn-warning btn-sm'>Играть</a>
                                    </div>                                    
                                </div>
                                <div v-if="game.winner>0">
                                    <div class='row'>
                                        <p class='graph fa fa-trophy'></p>
                                        <p>
                                        <span class='badge badge-warning'>
                                            {{ game.winner==1?game.player0.name:
                                               game.winner==2?game.player1.name:
                                               'Ничья'
                                            }} 
                                        </span>
                                         {{ dt(game.updated_at) }}
                                        </p>
                                    </div>                                                      
                                </div>
                                <p><small> создал {{ game.creater.name }}  {{ dt(game.created_at) }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: ["auth_id"],
    data() {
        return {
            games: [],
        };
    },
    methods: {
        dt(v){
            moment.locale('ru');
            return moment(v).format('DD MMM в HH:mm');
        },
        updGames() {
            axios.get(`/games`).then(res => {
                this.games = res.data;
                console.log(this.games)
            });
        },
        acceptPlayer(player_number, game_id) {
            axios.get(`/accept${player_number}get/${game_id}`)
            this.updGames()
        },
    },
    mounted() {
        this.updGames()
        Echo.private(`games`)
            .listen('Games', (e) => {
                console.log('Данные с прослушки')
                this.games = JSON.parse(e.games)
                console.log(this.games)
            });

    }
};
</script>
